.vs/
.vsconfig
.idea/
.vscode/

*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

Binaries/*
Plugins/**/Binaries/*

Build/*
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

Saved/*
Intermediate/*
Plugins/**/Intermediate/*
DerivedDataCache/*

*.o
*.obj
*.so
*.dylib
*.dll
*.lib
*.exe
*.out
*.app
*.ipa

*_BuiltData.uasset
.DS_Store
